/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/06/28, 16:22:40
    Author     : busit
*/
ul#ui-id-1{
    max-width: 558px; 
    margin: 0 auto;
    background: #fff;
    border: 1px solid #707070;
    max-height: 300px;
    overflow: auto;
    box-sizing: border-box;
}
.ui-helper-hidden-accessible {
    display: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-radius:0 !important;
}
.ui-state-focus{
    background: #89cd4a !important;
    /*background: none !important;*/
    border: none !important;
    font-weight: normal !important;
    color: #000 !important;
}
.ui-menu-item {
    text-align: left;
    padding: 5px 10px;
    font-size: 1.125em;
}

